*{
    padding: 0;
    margin: 0;
    text-decoration: none;

}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* PRE LOADING  ---------- */

#loading{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999999999;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;

}

#loadingImg{
    height: 50px;
    width: auto;
}